@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

:root{
     --light-gray:#2b3032a1;
	 --primary-color:#21d192;
	 --border:#2b303218;
	 --text-color:#ff686b;
	 --roboto:"Roboto",sans-serif;
	 --gugi:"Gugi",cursive;
	 --sofia:"Sofia",cursive;
}

.primary-color{
	color: var(--primary-color);
}

.bg-primary-color{
	background-color: var(--primary-color) !important;
}

.text-color{
	color: var(--text-color);
}

.font-roboto{
	font-family: var(--roboto);
}

.lightblue{
	color: lightblue;
}

header{
	background-color: var(--primary-color);
	font-family:var(--gugi);
}

.header-links a{
	font-size: 0.9em;
	text-decoration: none;

}

/*navigation menu*/

.navbar-nav{
	padding: 0.8em 0em;
}

.navbar-nav .nav-link{
	font-size:0.9em;
	color: var(--light-gray)!important;
}

.navbar-nav .nav-item .nav-link{
	padding:0 1.3em;
}

.navbar-nav .basket-icon{
	margin-right: 6.5rem !important;
}




/*PRODUCT SECTION*/

.product-image5 .pic-1,.product-image5 .pic-2{backface-visibility:hidden;transition:all .5s ease 0s}
.product-grid5{font-family:Poppins,sans-serif;position:relative}
.product-grid5 .product-image5{overflow:hidden;position:relative}
.product-grid5 .product-image5 a{display:block}
.product-grid5 .product-image5 img{width:100%;height:auto}
.product-image5 .pic-1{opacity:1}
.product-grid5:hover .product-image5 .pic-1{opacity:0}
.product-image5 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0}
.product-grid5:hover .product-image5 .pic-2{opacity:1}
.product-grid5 .social{padding:0;margin:0;position:absolute;top:10px;right:10px}
.product-grid5 .social li{display:block;margin:0 0 10px;transition:all .5s}
.product-grid5 .social li:nth-child(2){opacity:0;transform:translateY(-50px)}
.product-grid5:hover .social li:nth-child(2){opacity:1;transform:translateY(0)}
.product-grid5 .social li:nth-child(3){opacity:0;transform:translateY(-50px)}
.product-grid5:hover .social li:nth-child(3){opacity:1;transform:translateY(0);transition-delay:.2s}
.product-grid5 .social li a{color:#888;background:#fff;font-size:14px;text-align:center;line-height:40px;height:40px;width:40px;border-radius:50%;display:block;transition:.5s ease 0s}
.product-grid5 .social li a:hover{color:#fff;background:#1e3799}
.product-grid5 .select-options{color:#777;background-color:#fff;font-size:13px;font-weight:400;text-align:center;text-transform:uppercase;padding:15px 5px;margin:0 auto;opacity:0;display:block;position:absolute;width:92%;left:0;bottom:-100px;right:0;transition:.5s ease 0s}
.product-grid5 .select-options:hover{color:#fff;background-color:#1e3799;text-decoration:none}
.product-grid5:hover .select-options{opacity:1;bottom:10px}
.product-grid5 .product-content{padding:20px 10px}
.product-grid5 .title{font-size:15px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid5 .title a{color:#222}
.product-grid5 .title a:hover{color:#1e3799}
.product-grid5 .price{color:#222;font-size:13px;font-weight:500;letter-spacing:1px}
@media only screen and (max-width:990px){.product-grid5{margin-bottom:30px}
}


/*RANGE SLIDER*/



.col-md-2{
	font-family: var(--gugi);
	text-align: center;

}


/*FOOTER*/

.p1{
	font-family: var(--gugi);
}


/*BLOG*/



/*Contact */




.price {
  color: grey;
  font-size: 22px;

}





/*FILTER*/


/*cartdata*/

.site-blocks-table {
  overflow: auto; }
  .site-blocks-table .product-thumbnail {
    width: 200px; }
  .site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 1px !important;
    vertical-align: middle;
    color: #212529;
    font-size: 18px;
    font-weight: normal; }
  .site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: #212529; }
  .site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #51eaea !important; }

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important; }

.site-block-order-table td, .site-block-order-table th {
  color: #000; }





 tr,td, th{
     font-family:var(--gugi);


  }








  /*CHECKOUT*/


  .site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative; }
  .site-section-heading:before {
    display: none;
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #51eaea; }
  .site-section-heading.text-center:before {
    display: none;
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #51eaea; }

.border-top {
  border-top: 1px solid #edf0f5 !important; }



.btn1{
         
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        

  }

  .row1{
      background-color: #feb062;
  }